.input-container {
    margin-bottom: 10px;
  }
  
  .input-container label {
    display: block;
    font-weight: bold;
  }
  
  .result-container {
    margin-top: 20px;
    font-weight: bold;
  }
  button{
    background-color: green;
    color: white;
  }